html, body{
    background-image: url('login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.card{
    min-height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: #66b2ff !important;
}

.card-footer a {
    color: #ffc312 !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #00c2ba;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #00c2ba;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #00c2ba;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.container-fluid {
    padding: 0px;
}

.navbar {
    background-color: #00c2ba;
}

.nav-link {
    color: white !important;
    font-weight: 700;
    min-width: 70px !important;
}

.book-type {
    font-size: large;
    font-weight: 700;
    padding: 15px;
}

.book-type:hover {
    color: #00c2ba;
    transition: 0.5s;
    background-color: white;
    cursor: pointer;
}

.navbar-custom a:hover {
    color: white;
    background-color: #e39602;
}

.navbar-custom a {
    padding: 10px;
    align-content: center;
}

.avatar-nav {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    font-size: large;
    font-weight: 700;
    transition: all 0.6s;
    border-bottom: 1px solid #e4e4e4;
    color: #00c2ba;
    cursor: pointer;
}

.dropdown-content a:hover {
    color: white;
    background-color: #00c2ba;
}

.contact {
    color: #fff;
    font-size: large;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.contact:hover {
    color: white;
    text-decoration: none;
    transition: all 0.7s;
}

.profile-user {
    padding-left: 25px;
    align-items: center;
}

.profile-avatar {
    padding-right: 45px;
}

.carousel {
    margin-top: 65px;
}

.carousel-item {
    max-height: 700px;
}

@media only screen and (min-width: 1200px) {
    .book {
        width: 700px;
        height: 300px;
    }

    .search-bar {
        padding-left: 200px;
    }

    .search-bar input {
        min-width: 300px;
    }
}

/* Search Icon Custom CSS*/
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 15px 10px 0px 10px;
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.logIn {
    font-size: larger;
    font-weight: 700;
    color: white;
}

.logIn:hover {
    text-decoration: none;
    color: white;
}